#logo {
    background-color: #ebeff5;
}

body {
    background-color: #f8f5f2;
}

#total-orders {
    background-color: #3ab3cb;
}

#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7cd1c0;
}