<ul class="nav nav-pills nav-fill fixed-bottom bg-dark">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'products' %}">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'customer' %}">Customers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="{% url 'products' %}" tabindex="-1" aria-disabled="true">About us</a>
    </li>
  </ul>